<!DOCTYPE HTML>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Initial Planning Document</title>
        <meta name="viewport" content="width=device-width">
    </head>

    <body>
        <div id="wrapper">
            <header>
                <h1>Initial Planning Document</h1>
            </header>
            <nav>
                <a href="../index.html">Home</a>
            </nav>
            <main>
                <h1>Visitor Analysis and Persona</h1>


                    <figure>
                        <img alt="phone" src="/Images/phone.JPG">
                    </figure>

            </main>
            <footer>
                <ul>
                    <li>&copy;2017</li>
                    <li>
                        BenJamin Poore
                    </li>
                    <li>Last Updated: 27 January, 2017
                    </li>
                </ul>
            </footer>
        </div>
    </body>

</html>
