/********************************
* Default Styles - Mobile First
********************************/

@media only screen and (min-width: 0px) {
    * {
        box-sizing: border-box;
    }

    *:before,
    *:after{
        box-sizing: border-box;
    }

    #menu {margin: auto;}


    a:hover {
        background-color: lightblue;
    }




    body {

        width: 100%;
        border-image-width: 100%;
        background-image: url(../images/site/background.jpg);
        background-size: cover;
        background-repeat: no-repeat;

        text-align: left;

        font-family: sans-serif;
        margin: 0;
        padding: 0;
        font-size: 1.0em;

    }

    .wrapper {
        display: flex;
        flex-flow: column;
        flex-wrap: nowrap;
        padding-left: .75em;
        padding-right: .75em;
       overflow: hidden;
    }


    /* Medium (tablet) sized screen*/
/*    @media only screen and (min-width: 600px) {*/

        /* Large (Desktop) sized screen*/
/*        @media only screen and (min-width: 1024px) {*/


body,
caption,
th,
td,
input,
textarea,
select,
option,
legend,
fieldset,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size-adjust: .5;
}

h1 {
    font-size: 1.8em;
    margin: .25em;
    /*	line-height: 1.25;*/
}


/*******************************
* Page Header Styles
* Background Image
*******************************/


/*	Background Images - use with Small screens */

.page-header {

    background-color: white;
    border: 2px groove black;
    text-align: center;

    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    flex-shrink: 2;
    border:2px solid;
    justify-content: space-around;
    font-size: 8pt;
    width: 100%;
    height: 150px;

    background-image:
        url(../images/site/logo.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;

}


/*******************************
* Page Navigation Styles
*******************************/

.page-nav {
    background-color: red;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.page-nav ul {
    display: flex;
    align-items: stretch;
    height: 2.5em;
    margin: 0;
    padding: 0;
    list-style: none;
}

.page-nav li {
    background-color: red;
    flex: 1;
    display: flex;
    justify-content: center;
}

.page-nav a {
    text-decoration: none;
    color: white;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}


/********************************
* Main Content Styles
********************************/

    #main-title {
        text-align: left;
    }

.main {
    width: 100%;
    background-color: white;
    font-size: 1em;
    line-height: 1.25;
    margin: 0 auto;
    position: relative;
}



/********************************
* Home Content Styles
********************************/

    #home-content {

width: auto;

    }

/*
    #home-content {

        display: inline;
        width: 100%;

    }
*/

    .featured-image {

        display: flex;
        flex-flow: column;
        flex-direction: column;
        overflow: hidden;

        order: 1;
        background-image: url(../images/site/feature.jpg);
        background-size: cover;
        margin: .5em;
        height: 350px;
        width: 98%;
    }

    .featured-image img {
        display: block;
        width: 100%;
        height: 450px;
    }

    #actionbtn {
        width: 250px;
        height: 55px;
    }

    #home-content-rocket {

        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-right: .5em;
        flex-shrink: .5em;
        border-top: 5em;

        color: darkred;
        list-style-type: none;
    }


/*  END ROCKET  */


    #recipes-titles {
    display: flex;
    justify-content: space-between;
    margin-left: .5em;
    margin-right: 5em;


    }

    #recipes-titles h2 {

    }

/*  END RECIPES-TITLES  */

    #recipes-reviews {

        display: flex;
        justify-content: space-between;
        margin-left: .5em;
        margin-right: 5em;
        height: 100%;
        width: 100%;
        padding-bottom: .5em;
    }


    #home-content-recipes {
        display: flex;
        flex-wrap: wrap;
        order: 0;
        width: 100%;

    }

    .home-content-containers {

        text-align: center;
        width: 40%;
        margin: .5%;


/*        text-align: center;*/

/*
        display: flex;
        flex-direction: row;
        flex-flow: row wrap;
        flex-shrink: 2;
        border:2px solid;
        justify-content: space-around;
        font-size: 8pt;
*/
    }

    .recipes-images-box {
        background-color: darkgrey;

    }

    .recipes-a {
        display: block;
        background-color: none;
    }


    #home-content-reviews {
        order: 1;
        width: 140%;
    }

    /********************************
    * Product Content Styles
    ********************************/

    #product-content {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        margin-left: .5em;
        margin-right: 5em;
        height: 100%;
        width: 100%;
        padding-bottom: .5em;
        display: none;
    }


    #product-content-box0 {
        order: 1;
    }

    #product-content-box1 {
        order: 0;
    }

    #product-picture {
        width: 50%;
    }


/*******************************
* Page Footer Styles
*******************************/

.page-footer {
    background-color: white;

    text-align: center;
    border-style: solid;
    border-bottom: 2px;
    border-left: none;
    border-right: none;
    border-color: black;
    padding-top: .5em;
    margin-bottom: 1em;
    margin-left: .75em;
    margin-right: .75em;
}


/********************************
* Medium Screen Styles
* 750px viewport / 18px font = 41.67em
********************************/

/*@media (min-width: 41.67em) {*/

    @media (min-width: 55.67em) {
    .body {

        width: 100%;
        border-image-width: 100%;
        background-image:
            url(../images/site/background.jpg);
        background-repeat: no-repeat;

        text-align: left;

        font-family: sans-serif;
        margin: 0;
        padding: 0;

        font-size: 1.25em;
    }
    h1 {
        font-size: 2em;
        line-height: 1.125;
    }

    .featured-video {
        float: left;
        display: inline-block;
        width: 50%;
        height: auto;
        margin: 0 1em 1em 0;
    }
    .featured-video+p {
        clear: both;
    }
    .page-footer {
        margin-bottom: .5em;
    }

/*************************

    Acme Rocket Goes Here!

    **************************/

        .featured-image {

            display: flex;
            flex-flow: column;
            flex-direction: column;
            overflow: hidden;

            order: 1;
            background-image: url(../images/site/feature.jpg);
            background-size: cover;
            margin: .5em;
            height: 350px;
            width: 98%;
        }

        .featured-image img {
            display: block;
            width: 100%;
            height: 450px;
        }

        #actionbtn {
            width: 250px;
            height: 55px;
        }

        #home-content-rocket {

            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin-right: .5em;
            flex-shrink: .5em;
            border-top: 5em;

            color: darkred;
            list-style-type: none;
        }


        /*  END ROCKET  */
        body,
        caption,
        th,
        td,
        input,
        textarea,
        select,
        option,
        legend,
        fieldset,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6, p, ul, section {
            font-size-adjust: -4;
        }

}
